html, body{

}

body{
    width: 100%;
    display:grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: 100%;

    grid-template-areas:
        "header header header header"
        "body body body body"
        "body body body body";
    background-color:silver !important;
}

h3{
    color: red;
}

.container{
    width:100%;
}

section{
    grid-area: body;
}

header{
    grid-area:header;
}

.box-container{
    width:103px;
    height:103px;
    border: 2px solid black;
    display: inline-block;
    margin-left: 15px;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: red;
}

#box2{
    width: 100px;
    height: 100px;
    background-color: blue;
}

#box3{
    width: 100px;
    height: 100px;
    background-color: green;
}